[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
flask = "*"
pytest = "*"
pytest-mock = "*"
pytest-responses = "*"
pytest-cov = "*"

[packages]
requests = "*"
marshmallow = "*"
click = "*"
pytest = "*"
